.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* shared style */
.dis-flex {
    display: flex;
}

body { 
    background-image: url('/assets/bg.png');
    
}

/* nav-style */
nav{
     margin: 0 140px 0 140px;
}
.nav-style {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.nav-img {
    height: 62px;
    width: 62px;
    text-align: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    height: 30px;
}

.nav-links-c {
    margin-right: 15rem ;
    margin-top: 32px;
    gap: 20px;
}

.home {
    color: #FEA301;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: rgb(5, 212, 223)
}

.admission {
    color: rgb(93, 88, 239);
}

.nav-btn {
    text-align: center;
    background-color: #FEA301;
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 29px;
}

.nav-btn:hover{
    color: black;
}
/* Banner */
.Banner{
    margin: 50px 140px;
    display: flex;
    align-items: center;

}

.banner-title{
    font-size: 56px;
    font-weight: 800;
}
.banner-first-text{
    color: rgb(254, 163, 1);
}
.banner-text-2nd{
    color: rgb(1, 172, 253);
}

.banner-description{
    font-size: 20;
    margin: 24px 0 24px 0;
}

.banner-btn{
    padding: 15px 47px 15px 47px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.banner-img{
width: 405px;
height: 575px;
flex: none;
margin: 0px 50px;
}